:root {
    --heading-background-color: #EAF27C;
    --heading-text-color: #370031;
    
    /* w3 set fonts for heading and text from google fonts selected */
    --heading-font: 'Roboto', sans-serif;
    --text-font: 'Lato', sans-serif;

    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1);

    /*w3 Create variables for color palatte */
    --primary-color: #370031;
    --secondary-color: #832232;
    --accent1-color: #CE8964;
    --accent2-color: #EAF27C;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--secondary-color);

}





h1 {
    background-color: var(--heading-background-color);
    color: var(--heading-text-color);
    padding: var(--padding);
}

h2{
    text-align: center;
    padding-top: 2em;
}

aside {
    margin: 10px auto;
    padding: var(--padding);
    box-shadow: 0 0 10px rgb(0 0 0 / 0.1);
}


body{
    font-family: var(--text-font);
    /* w3 set max width of page */
    max-width: 850px;
    padding: 1em;
    text-align: center;
}

header {
	/* margin: 1rem auto; */
	display: grid;
	grid-template-columns: 120px 1fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	/* max-width: 1000px; */
}
header, footer{
    max-width:1000px;
    margin: 0 auto;
}

h1, h2, h3 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

p{
    font-family: var(--text-font);
    color: var(--primary-color);
}

nav { 
    background-color: var(--accent1-color);
    display: flex;
}

nav a {
    background-color: var(--accent1-color);
    display: inline;
}

form{
    width: 600px;
    height: 700px;
    background-color: var(--primary-color);
    display: grid;
    color:var(--accent2-color);
    margin: 1rem;
    padding: 10px;
    justify-self: center;
    font-size: 20px;
}
fieldset{
    display: grid;
    grid-gap: 5px;
    margin: 1em;
    padding: 5px;
    border-color: var(--primary-color);
    background-color: var(--accent1-color);
}
input, textarea{
    font-size: 18px;
    color: var(--accent2-color);
   
}


button{
    width: 120px;
    justify-self: center;
    background-color: var(--accent1-color);
}

button:hover{
    background-color: var(--primary-color);
    color:var(--accent2-color)
}

footer {

    display: grid;
	grid-template-columns: 60px 1fr 1fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
    background-color: var(--accent1-color);

}

footer p{
    color: var(--primary-color);
    background-color: var(--accent1-color);
    grid-column: 2/3;
}

footer nav {
    background-color: var(--accent1-color);
    display: flex;

}
footer nav a {
    background-color: var(--accent1-color);
    text-decoration: none;
    display: flex;
    position: relative;
    grid-column: 3/4;
}



figure {
    border: thin  solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}

      
/* img {
    max-width: 220px;
    max-height: 150px;
} */
      
figcaption {
    background-color: var(--primary-color);
    color: var(--accent1-color);
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

/* CLASS SELECTORS*/
.hero {
    background-color: var(--secondary-color);
    position: relative;
    margin: 10px auto;
    max-width: 600px;
    background-size: 50%
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    vertical-align: middle;
    top: 3%;
    left: 40%;
    color: var(--primary-color);
    background: radial-gradient(#eee, var(--secondary-color));
}
              
.hero article {
    /* make article position within hero class at specific location */
    position: absolute;
    width: 60%;
    bottom: 2%;
    right: 5px;
}

.hero-image {
    /* set size of article image */
    width: 30%;
    height: auto;
    float: right;
}

.hero p{
    color: var(--primary-color);
    background: radial-gradient(#eee, var(--secondary-color));
}

/* w4 additions*/

.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}

.navigation {
	display: flex;
	/* flex-wrap: wrap; */
    grid-template-columns: 120px 1fr;
	list-style: none;
	/* padding: 0; */
}

.navigation li {
	/* flex: 1 1 auto; */
    font-size: 1em;
} 

.navigation a {
	display: inline-block;
	color: navy;
	padding: 20px;
	text-decoration: none;
}

.navigation a:hover {
	color: var(--primary-color);
    background-color: var(--accent2-color);
	font-weight: 700;

	/* text-decoration: underline; */
}

.flexbox-container {
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.flexbox-item{
    background-color: var(--secondary-color);
    padding: 5px;
}

/* week 5 additions */
.form1{
    display: grid;
    align-items: center;
}

.q1{
    grid-template-columns: 1fr 2fr;
    font-size: 20px;
    /* margin: 0.5rem; */
}
/* format for checkbox question*/
.q2{
    grid-template-columns: 3fr 1fr;
    /* margin: 0.5rem; */
}

/* radio button is qtype 3*/
.qtype3{
    /* display: inline-block; */
    display: flex;
    width: 50%;
    justify-self:center;
    margin: .5rem;
}

/* fonts for wwr*/
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
  
.roboto-regular {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-style: normal;
}

.roboto-bold {
font-family: "Roboto", sans-serif;
font-weight: 700;
font-style: normal;
}
  
.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}


