:root {
    --heading-background-color: #f06;
    --heading-text-color: #333;
    --heading-font: 'Roboto', sans-serif;
    --text-font: 'Lato', sans-serif;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1);

    /*w3 Create variables for color palatte */
    --primary-color: #370031;
    --secondary-color: #832232;
    --accent1-color: #CE8964;
    --accent2-color: #EAF27C;


}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--secondary-color);

}

h1 {
    background-color: var(--heading-background-color);
    color: var(--heading-text-color);
    font-family: var(--heading-font);
    padding: var(--padding);
}

aside {
    margin: 10px auto;
    padding: var(--padding);
    box-shadow: 0 0 10px rgb(0 0 0 / 0.1);
}


body{
    font-family: var(--text-font);
}


h1, h2, h3 {
    font-family: var(--heading-font);
}
p{
    font-family: var(--text-font);
}

nav { 
    background-color: var(--accent1-color);
}

nav a {
    background-color: var(--accent1-color);
}




/* CLASS SELECTORS*/
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}
